/*body{*/
    /*background: cyan;*/
/*}*/

body {
    text: cyan;
}
image.resize {
    width: 25px;
    height: 25px;
}
#cornerOne {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 10%%;
    width: 10%;
}

#cornerTwo{
    position: absolute;
    top: 30px;
    right: 30px;
    height: 10%%;
    width: 10%;
}